<%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>

      <div class="w-full max-w-sm">


      <form action="/positions/new" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                Position
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 borderrounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="name" type="text" placeholder="Jane" name="name">
            </div>
            </div>
            <button type="submit" class="btn max-w-sm">Submit</button>

          </div>

        </div>
        
        </form>
      </div>

  </body>

  </html>