<%- include('partials/header') %>
<body>
  <%- include('partials/navbar') %>

  <% if (position.id) { %>
    <div class="card card-compact w-96 bg-base-100 shadow-xl border-2">
      <figure><img src="/images/avatar_test.png" /></figure>
      <div class="card-body">
        <h2 class="card-title"><%=position.id%></h2>
        <p><%=position.name %> </p>

      </div>
    </div>
    <% } else { %>
        <h1>No position found for that ID!</h1>
    <% } %>


</body>

</html>